* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 220, 204);
    background-color: rgb(19, 18, 18);
}

.container-header {
    background-color: rgb(255, 189, 159);
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    color: rgb(19, 18, 18);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.container-div-navegacao {
    text-align: center;

}

.container-button-navegacao {
    background-color: rgb(255, 189, 159);
    font-weight: bold;
    padding: 8px;
    border-radius: 300px;
    border-color: rgb(250, 121, 62);
    width: 130px;
    height: 50px;
    margin-top: 20px;
}

.container-button-navegacao:hover {
    background-color: rgb(250, 121, 62);
    border-color: rgb(255, 189, 159);
    color: whitesmoke;
}

.container-titulo2 {
    text-align: center;
    background-color: rgb(255, 189, 159);
    color: rgb(19, 18, 18);
}

.container-rodape {
    background-color: rgb(255, 189, 159);
}

.container-rodape-icones {
    display:inline-block;
    width: 40px;
    height: 40px;
    margin: 20px 10px 10px;
}

.container-rodape-navegacao {
    display: inline-block;
    padding: 10px;
    text-align: center;

}

.container-rodape-copyright {
    background-color:rgb(19, 18, 18);
    text-align: center;
    font-weight: bold;
    padding: 10px;
}